
body {
			background-image:linear-gradient(to bottom, rgba(250, 0, 0, 0.5), rgba(0, 0, 255, 0.5)), url("../../../Assets/Backgrounds/TitleBackground.webp");
	background-repeat: repeat-y;
	background-size: 100%;
	margin: 0;
}

.GameImage
{
    width: 67%;
}

.project
{
    justify-self: center;
	justify-content: center;
	align-items: baseline;
	flex-wrap:wrap;
	flex-basis: 0%;
    display: flex;
    text-align: center;
    gap: 1.5vw;
}

.project div
{
	width: 30%;
}

.project div
{
	display: grid;
	place-items: center;
}

.project div h2
{

	font-size: 200%;
}

#slideshow
{
	margin: 4vw;
}
