
body {
	background-image: url("../../../Assets/Backgrounds/Background.webp");
	background-repeat: repeat-y;
	background-size: 100%;
	padding-bottom: 2.5vw;
}

.Showcase
{
    justify-self: center;
}

.GameImage
{
    width: 60%;
}

.Showcase
{
	flex-wrap:wrap;
	flex-basis: 0%;
    display: flex;
    text-align: center;
    gap: 1vw;
}

