/* NOT IMPLEMENTED YET - DO NOT IMPORT THIS. */

	/* Portfolio Slide */

		#AboutMe #portfolioSlide
		{
			height: 10vw;
			width: 80vw;
		}

		#AboutMe #portfolioSlide img
		{
			flex: 0 0 15vw;
			object-fit: cover;
			margin-top: -2vw;
			width:	90vw;
			height: 13vw;
		}
	/* Additional CSS Fonts */

		@font-face {
			font-family: fac;
			src: url('Assets/Fonts/GoodfishRg.otf');
		}

		@font-face {
			font-family: Drybrush;
			src: url('Assets/Fonts/Drybrush.ttf');
		}

		@font-face {
			font-family: Cyen;
			src: url('Assets/Fonts/Cyen.ttf');
		}


/*
						<!-- </a>
						<a>
							<p id="imageSubtext"> Check out more? </p>
						</a>
						<div id="extra">
							<p> 
								An expanded version of my resume is available on my portfolio
							</p>
						</div>
						-->

				<!-- Commented out - work in progress.
				<div class="seperator"> </div>
				<div id="portfolioSlide">
					<img id="background" src="../../Source/Placeholder.png" alt="Background for the portfolio slide showcasing my art">
				</div>
				<div class="seperator"> </div>
				-->

			<!--
			<a href="#Header" class="LeftSide">
				Portfolio
			</a>
			<a href="#Header" class="LeftSide">
				About Me
			</a>
			-->
						*/
