/* Universal Changes */

	/* Background */

		body {
			align-items: center;
			background-image: radial-gradient(grey, grey, black);
			background-size: 100vw 55vw;
			align-content: center;
		}


		main
		{
			padding-top: 5vw;
			padding-bottom: 5vw;

			padding-left: 10vw;
			padding-right: 10vw;
		}

		p
		{
			font-size: 200%;
		}
/* Text */

		h2 {
			padding-top: 15vw;
			margin: 0vw;
			font-size: 3vw;
			text-align: center;
			color: white;
			text-shadow: 1vw 1vw black;
		}
