/* Universal */

	/* Effects */

	#invert
	{
		filter: invert(1);
	}
	/* Text */
		h3, h2, h1, h4, p 
		{
			color: azure;
			text-align: center;
		}

		h3 
		{
			font-size: 2.0vw;
		}

		h2
		{
			font-size: 2.3vw;
		}

		h1
		{
			font-size: 2.5vw;
		}

		h4
		{
			font-size: 1.7vw;
		}

		p
		{
			font-size: 1.5vw;
		}




		@font-face 
		{
			font-family: itsadzoke;
			src: url('../../Assets/Fonts/itsadzoke-046.otf');
		}
		
	/* Sticky Elements */

		/* Theme */
			#Themes > *
			{
				position: sticky;
				top: 0.8vw;
				left: 90vw;
				height: 0;
	
				z-index: 1;
			}
			
			#Themes
			{
				width: 0;
				height: 0;
				padding: 0;
				margin-top: -300vw;
			}


	/* Seperator */

	.seperator
	{
		background-color: black;
		margin-top: 1%;
		margin-bottom: 0%;

		padding-top: 0.5%;
		padding-bottom: 0.5%;
		z-index: 1;
		position: relative;
	}

/* Animations */

	@keyframes fadein 
	{
		from 
		{
			transform:translateY(-5%);
			opacity: 0%;
		}
		to 
		{
			transform:translateY(0);
			opacity: 100%;
		}
	}

	@keyframes fadeout 
	{
		from 
		{
			transform:translateY(0);
			opacity: 100%;
		}
		to
		{
			transform:translateY(-5%);
			opacity: 0%;
		}
	}

/* footer */

	.Footer
	{
		background-color: black;
		display: grid;
		flex-wrap: wrap;
		grid-template-columns: auto auto;
		justify-content: center;
		align-items: baseline;
	}

	.sectionGrid
	{
		display: grid;
		grid-template-columns: auto auto auto;
	}

	/* Icons */

		.Footer #SocialMedia
		{
			display: flex;
			margin-top: 1vw;
			gap: 3vw;
			justify-content: center;
		}

		.Footer #SocialMedia > *
		{
			flex: 0 0 5vw;
		}

		.Footer #SocialMedia > * img 
		{
			object-fit: scale-down;
			width: 3vw;
			height: 3vw;
		}

	/* Context Options */

		#contextOptions
		{
			display: grid;
			grid-template-columns: auto auto auto;
			gap: 1vw;
			align-items: center;
			justify-self:center; 
			font-size: 1.5vw;
			margin-top: 0vw;
		}

		#contextOptions a p
		{
			gap: 0vw;
			margin: 0;
		}

/* Contact */

		#contact 
		{
			background-image: url('../../Assets/Backgrounds/prawny-seamless-2109397.jpg');
			background-repeat: repeat-y;
			background-size: 100%;
			margin: 0;
			padding-bottom: 2.5vw;
		}

		.contextField
		{
			padding: 0.5vw;
			margin: 0.5vw;
		}

		input 
		{
			width: 45vw;
			height: 2vw;
		}

		textarea
		{
			width: 45vw;
			height: 7vw;
			resize:none;
		}

		#contactForm 
		{
			display: flex;
			grid-template-columns: auto;
			justify-content: center;
			flex-direction: column;

		}

		#contactForm div
		{
			display: grid;
			grid-template-columns: auto auto;
		}

		#contactSection h2
		{
			font-size: 2.5vw;
			maxlength: 40;
			size: 40;
		}

		.contextField
		{
			margin: 1vw;
		}
		
		#contactSubtext
		{
			font-size: 1.4vw;
			margin: 0.1vw;
			margin-right: 10vw;
			margin-left: 10vw;
		}

		#contactForm #submit
		{
			margin-left: 5.5vw;
		}

		#contactForm > *
		{
			align-self: center;
		}

		/* Form */
