/* Universal */

	/* Additional CSS Fonts */

		@font-face 
		{
			font-family: itsadzoke;
			src: url('../../Assets/Fonts/itsadzoke-046.otf');
		}

		@font-face {
			font-family: fac;
			src: url('Assets/Fonts/GoodfishRg.otf');
		}

		@font-face {
			font-family: Drybrush;
			src: url('Assets/Fonts/Drybrush.ttf');
		}

		@font-face {
			font-family: Cyen;
			src: url('Assets/Fonts/Cyen.ttf');
		}

	/* Effects */

	#invert
	{
		filter: invert(1);
	}
	/* Text */
		h3, h2, h1, h4, p 
		{
			color: azure;
			text-align: center;
		}

		h3 
		{
			font-size: 180%;
		}

		h2
		{
			font-size: 180%;
		}

		h1
		{
			font-size: 200%;
		}

		h4
		{
			font-size: 140%;
		}

		p
		{
			font-size: 120%;
		}
		
	/* Sticky Elements */

		/* Theme */
			#Themes > *
			{
				position: sticky;
				top: 0.8vw;
				left: 90vw;
				height: 0;
	
				z-index: 1;
			}
			
			#Themes
			{
				width: 0;
				height: 0;
				padding: 0;
				margin-top: -300vw;
			}

	.background
	{
		padding-right:5vw;
		padding-left: 5vw;

		padding-bottom: 2vh;
		padding-top: 2vh;

		background: rgba(0, 0, 0, 40%);

		border-radius: 10vw;
		margin: 3vw;
	}


	/* Seperator */

	.seperator
	{
		background-color: black;
		margin-top: 1%;
		margin-bottom: 0%;

		padding-top: 0.5%;
		padding-bottom: 0.5%;
		z-index: 1;
		position: relative;
	}

/* Animations */

	@keyframes fadein 
	{
		from 
		{
			transform:translateY(-5%);
			opacity: 0%;
		}
		to 
		{
			transform:translateY(0);
			opacity: 100%;
		}
	}

	@keyframes fadeout 
	{
		from 
		{
			transform:translateY(0);
			opacity: 100%;
		}
		to
		{
			transform:translateY(-5%);
			opacity: 0%;
		}
	}

/* Contact */

		#contact 
		{
			background-image: url('../../Assets/Backgrounds/prawny-seamless-2109397.jpg');
			background-repeat: repeat-y;
			background-size: 100%;
			margin: 0;
			padding-bottom: 2.5vw;
		}

		.contextField
		{
			padding: 0.5vw;
			margin: 0.5vw;
		}

		input 
		{
			width: 45vw;
			height: 2vw;
		}

		textarea
		{
			width: 45vw;
			height: 7vw;
			resize:none;
		}

		#contactForm 
		{
			display: flex;
			grid-template-columns: auto;
			justify-content: center;
			flex-direction: column;

		}

		#contactForm div
		{
			display: grid;
			grid-template-columns: auto auto;
		}

		#contactSection h2
		{
			maxlength: 40;
			size: 40;
		}

		.contextField
		{
			margin: 1vw;
		}
		
		#contactSubtext
		{
			margin: 0.1vw;
			margin-right: 10vw;
			margin-left: 10vw;
		}

		#contactForm #submit
		{
			margin-left: 5.5vw;
		}

		#contactForm > *
		{
			align-self: center;
		}

		/* Form */
