
/* Global */
:root
{
	--screen-width: 100%;

}

/* Header */

	/* Title */

	#headerOptions
	{
		display: grid;
		grid-template-columns: auto auto auto;
		place-items: center;
		gap: 0%;
		width: var(--screen-width);
	}

	#title, #headerOptions
	{
		position: relative;
		z-index: 3;
	}

	header h3 
	{
		font-size: 2.2vw;
	}

	#headerBackground
	{
		position:absolute;
		top: -12vh;
		margin-left: 0;
		margin-right: 0;
		left: 0;
		right: 0;
		height: 38%;
		background-repeat:repeat-y;
		background-size: 10%;
		opacity: 0.33;
		z-index: 1;
		width: var(--screen-width);
	}

		#title
		{
			height: 7vh;
			width: 98.5vw;
			padding-bottom: 2%;
			pointer-events:visible;
		}

		#title h1
		{
			font-size: 3.5vw;
			font-family: itsadzoke;
			margin: 0;
		}
